<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JR1SYS15QW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JR1SYS15QW');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="JvWa1eYqPDPsSrBbGUMri2fJsk8WEfF5JGsqKgDzTjI" />
    <meta name="naver-site-verification" content="b25e156f0b43a4285084aee092e05a243cb3e2da" />

    <meta name="description" content="위바이브 | 데이터로 경험을, 경험으로 가치를 Team DEV">
    <meta name="keywords" content="위바이브 , 위바이브 주식회사,viber X,문서작성 AI 로라인, wevibe, wevibe.co.kr, www.wevibe.co.kr,홈페이지제작,
    소프트웨어개발공급,반응형웹앱개발,디지털콘텐츠제작,방송영상제작공급,디지털 콘텐츠 기반 소프트웨어개발및공급업, 기타 쇼핑몰 홈페이지등 반응형 웹앱개발, 방송영상독립제작사 " />
   
    <meta name="og:site_name" content="위바이브 | wevibe" />
    <meta property="og:title" content="위바이브 | wevibe" />
    <meta property="og:type"  content="website" />
    <meta property="og:description"  content="위바이브 | 데이터로 경험을, 경험으로 가치를 Team DEV" />
    <meta property="og:url" content="https://www.wevibe.co.kr"/>
    <meta property="og:image" content="https://www.wevibe.co.kr/img/wevibe_og.png">
    
    <meta property="twitter:site_name" content="위바이브 | wevibe" />
    <meta property="twitter:title" content="위바이브 | wevibe" />
    <meta property="twitter:type" content="website" />
    <meta property="twitter:description"  content="위바이브 | 데이터로 경험을, 경험으로 가치를 Team DEV" />
    <meta property="twitter:url" content="https://www.wevibe.co.kr" />
    <meta property="twitter:image" content="https://www.wevibe.co.kr/img/wevibe_og.png" />

    <title>위바이브 | wevibe</title>
    <link rel="icon" href="/img/wevibe.ico">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="WeVibe">
        <!-- hedaer -->
        <div class="header">
            <div id="wrap" class="h_nav ">
                <p class="h_logo"><img src="/img/h_logo.png" alt="위바이브로고"> WEVIBE</p>
                <ul class="category">
                    <li><a href="#team">Team DEV</a></li>
                    <li><span>|</span></li>
                    <li><a href="#viderX">viber X</a></li>
                    <li><span>|</span></li>
                    <li><a href="#lawline">문서작성 AI 로라인</a></li>
                    <li><span>|</span></li>
                    <li><a href="/Works">Works</a></li>
                </ul>
            </div>
            <div id="wrap" class="h_container">
                <ul class="dev">
                    <li> <img class="DImg" src="/img/D.png" alt="Data"></li>
                    <li> <img class="EImg" src="/img/E.png" alt="Experience"></li>
                    <li> <img class="VImg" src="/img/V.png" alt="Value"></li>
                </ul>
                <h3>데이터로 경험을, 경험으로 가치를 만듭니다.</h3>
                <p>위바이브는 <span>유저의 경험 데이터</span>가 <span>차이를 만들어낸다고 믿습니다.</span></p>
                <p>위바이브는 AI 기반으로 지속 발전 가능한 성장 모델을 발굴하여</p>
                <p>새로운 경험과 가능성을 모색합니다.</p>
            </div>            
        </div>

        <!-- team -->
        <p ><a id="team"></a></p>
        <div id="wrap" class="team">
            <p ><img class="DEVImg" src="/img/d,e,a.png" alt="Data,Experience,Value"></p>
            <h4>Meet Our Team</h4>
            <ul class="team_name">
                <li><img class="Alex" src="/img/Alex.png" alt="Alex General Manager"></li>
                <li><img class="kun-woo" src="/img/kun-woo.png" alt="Kun-woo Lead PM"></li>
                <li><img class="jake" src="/img/jake.png" alt="jake Lead Designer"></li>
                <li><img class="chan" src="/img/chan.png" alt="chan Lead Developer"></li>
                <li><img class="danny" src="/img/danny.png" alt="danny Lead UX/UI"></li>
                <li><img class="jay" src="/img/jay.png" alt="jay Lead Manager"></li>
            </ul>
        </div>

        <!-- viderX -->
        <p><a ID="viderX"></a></p>
        <div  class="viderX">
            <div id="wrap">
                <p>핵심 기술 Core Tech </p>
                <h2>viber X</h2>
                <ul>
                    <li>사용자의 취향 , 관심 스타일을<br>
                        <span>스타일 매칭 코디 AI 솔루션 , viber X</span></li>
                    <li></li>
                    <li>유저, 상품 거래 등의 데이터를 분석해<br>
                        이커머스소비자와 운영자에게만족스러운 결과를 제공합니다</li>
                </ul>
            </div>
        </div>

        <!-- ai conteiner1,2,3 -->
        <div id="wrap" class="ai ai_1">
            <h4>개인화 추천</h4>
            <p>지속적으로 데이터를 수집함에 따라 사용자의 취향과 구매패턴을 파악해</p>
            <p>더욱 높은 구매율을 목표로하는 추천 알고리즘이 구성됩니다</p>
            <ul>
                <li>ATP</li>
                <li>담기횟수</li>
                <li>구매율</li>
                <li>비슷한<br>
                    상품</li>
                <li>외부<br>
                    데이터</li>
                <li>리뷰</li>
            </ul>
        </div>

        <div id="wrap" class="ai ai_2">
            <h4>AI 코디매칭</h4>
            <p>유사한 패턴의 구매자들이 선택한 아이템 혹은 함께 자주 담긴 아이템을 추천해</p>
            <p>하나의 제품이 아닌 코디 전체를 추천하고 구매를 돕습니다.</p>
            <p ><img class="ai_coding" src="/img/ai_coding.png" alt="AI 코디매칭"></p>
        </div>

        <div id="wrap" class="ai ai_3">
            <h4><a id="ai_styling"></a>AI 스타일링</h4>
            <p>최신 유행하는 스타일을 추천 , 사용자가 제일 선호하는 스타일링을 추천해 줍니다.</p>
            <p ><img class="ai_styling" src="/img/ai_ styling.png" alt="AI 스타일링"></p>
        </div>

        <!-- lawline -->
        <p><a id="lawline"></a></p>
        <div class="lawline">
            <div id="wrap">
            <p ><img class="lawline_logo" src="/img/lawline_logo.png" alt="lawline_logo"></p>
            <h2>AI 문서작성 도우미 로라인</h2>
            <p class="text">작성하기 힘든 각종 서류,문서 양식을 자동으로 채우고 필요한 서류를 찾아서 준비해주는 AI기반 서비스</p>
            </div>
        </div>

        <div id="wrap" class="lawline_img">
            <p ><img class="lawline" src="/img/lawline.png" alt="AI 문서작성 도우미 lawline"></p>
            <ul>
                <li><img class="lawline_1" src="/img/lawline_1.png" alt="lawline기능1 준비서류안내"></li>
                <li><img class="lawline_2" src="/img/lawline_2.png" alt="lawline기능2 자동완성기능"></li>
                <li><img class="lawline_3" src="/img/lawline_3.png" alt="lawline기능3 기존작성내역 불러오기"></li>
            </ul>
        </div>

        <!-- works -->
      
        <div id="wrap" class="works">
            <h3><a id="Works"></a>WORKS</h3>
            <p>보다 입체적인 솔루션과 디자인을 제안합니다</p>
       
        </div>
        <!-- worksimg -->
        <div class="swiper sample-slider mySwiper">
            <div class="swiper-wrapper  ">
                <div class="swiper-slide .swiper-pagination"><img src="/img/works2.png" alt="abraxas 사이트제작"></div>
                <div class="swiper-slide .swiper-pagination"><img src="/img/works1.png" alt="zenian 사이트제작"></div>
                <div class="swiper-slide .swiper-pagination"><img src="/img/works3.png" alt="법과사람들 사이트제작"></div>
                <div class="swiper-slide .swiper-pagination"><img src="/img/works5.png" alt="아브락삭스 끼브리자 디자인"></div>
                <div class="swiper-slide .swiper-pagination"><img src="/img/works8.png" alt="우리동네카센터 제작"></div>
                <div class="swiper-slide .swiper-pagination"><img src="/img/works7.png" alt="디블럭,우리동네카센터 사이트제작"></div>
                <div class="swiper-slide .swiper-pagination"><img src="/img/works6.png" alt="법무법인정곡 사이트제작"></div>
                <div class="swiper-slide .swiper-pagination"><img src="/img/works4.png" alt="디블럭필터 디자인"></div>
            </div>
        </div>
    <!-- works script -->
    <script>
        if(matchMedia("screen and(min-width:999px)").matches){
            const swiper = new Swiper('.sample-slider', {
       loop: true,
       autoplay: {
           delay: 0,
       },
       speed: 10000,          //add
       slidesPerView: 3 ,     //add
       })
        }else{
            const swiper = new Swiper('.sample-slider', {
       loop: true,
       autoplay: {
           delay: 0,
       },
       speed: 10000,          //add
       slidesPerView: 3 ,     //add
       })
        }

    var swiper = new Swiper(".mySwiper", {
        // slidesPerView: 1,  //초기값 설정 모바일값이 먼저!!
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
         
          768: {
            slidesPerView: 2,  //브라우저가 768보다 클 때
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 3,  //브라우저가 1024보다 클 때
            spaceBetween: 50,
          },
        },
      });
       </script>

       <!-- footer -->
    <div class="footer">
        <ul>
            <li>회사명 : 위바이브(주) | wevibe Inc.</li>
            
            <li>메일 : help@wevibe.co.kr
            </li>
            <li>사업자번호: 477-87-01651
            </li>
            <li>연락처: 070-5067-1558
            </li>
            <li>팩스: 0504-075-5272</li>
            
        </ul>
        
        <p><span>대표이사 : 김종식, 김수은</span></p>
      
        <p><span>주소: 서울특별시 금천구 가산디지털2로 67, 에이스하이엔드타워 9층</span></p>
      
        <p><copyright>ⓒ 2023 wevibe Inc. All Rights Reserved.</copyright></p>
        
    </div>


    </div>
</body>
</html>