.RequirementsBodyChatbot {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #EDEDED;
}
.ChatContents {
  flex: 1;
  padding: 30px 15px;
  overflow: auto;
}
.ChatContents .messageUser { 
  padding: 10px;
  border: 1px solid #777;
  background-color: #EDEDED;
  border-radius: 15px;
  color: #191919;
  line-height: 1.25em;
  margin-bottom: 10px;
}
.ChatContents .messageBot { 
  padding: 10px;
  border: 1px solid #EDEDED;
  background-color: #7388ff;
  border-radius: 15px;
  color: #FFF;
  line-height: 1.25em;
  margin-bottom: 10px;
}
.ChatInputWrap {
  display: flex;
  border-top: 1px solid #EDEDED;
  padding: 10px;
}
.ChatInputWrap input{
  flex: 1;
  font-size: 14px;
  border: none;
}
.ChatInputWrap input:focus{
  outline: none;
}
.ChatInputWrap button {
  padding: 10px 10px;
  border: none;
  background-color: #7388ff;
  color: #FFF;
  border-radius: 10px;
  margin-left: 10px;
}
